.ant-layout-footer {
	bottom: 0;
	width: 100%;
}
.ant-dropdown-menu {
	height: 200px !important;
	overflow-y: scroll !important;
}
:global {
	@media (max-width: 600px) {
		.ant-card-body {
			padding-left: 3px !important;
			padding-right: 3px !important;
		}
		.ant-badge-count {
			height: 24px;
			line-height: 25px;
			border-radius: 13px;
			padding: 0 9px;
			font-size: 14px;
		}
		.estadio {
			display: none;
		}
		.allignRightLeft {
			margin-left: 15px !important;
		}
		.flagMobile {
			margin-left: 28px !important;
		}
		.textAlignRight {
			text-align: right !important;
		}
		.dropDownCustom {
			width: 120px !important;
		}
		.customVersus {
			margin-top: 15px !important;
			margin-left: -50% !important;
			font-size: 20px !important;
		}
		.customVersus1 {
			color: #d6d6d6;
			margin-top: -5px !important;
		}
		.reglas {
			display: none !important;
		}
		.posiciones {
			margin-left: -37px;
		}
		.banner {
			height: 240px !important;
		}
		.banner img {
			margin-top: 15px !important;
		}
		.banner2 {
			height: 240px !important;
		}
		.banner2 img {
			margin-top: 24% !important;
		}
	}
	.flagMobile {
		display: block;
		text-align: right;
		margin-right: -4px;
	}
	.allignRightLeft {
		display: block;
		text-align: right;
	}
	.alignRightName {
		display: block;
		text-align: right;
	}
	.ant-select-selection__rendered {
		margin-left: 3px !important;
	}
	.ant-message {
		z-index: 3000;
	}
	.banner {
		height: 350px;
	}
	.banner img {
		margin-top: -350px;
	}
	.banner2 {
		height: 350px;
	}
	.banner2 img {
		margin-top: 0px;
	}
	.estadio {
		color: #86c5ff;
		font-size: 12px;
		margin-top: -23;
	}
	.dropDownCustom {
		width: 150px;
		margin-right: 5px;
	}
	.customVersus {
		color: #d6d6d6;
		margin-top: -15;
	}
	.customVersus1 {
		color: #d6d6d6;
		margin-top: -25px
	}
	.reglas {
		position: absolute !important;
		margin-top: 4px !important;
		margin-left: -100px !important;
		color: #FFF !important;
	}
	.ant-badge {
		margin-left: 2px !important;
		margin-right: 2px !important;
	}
}
